<div id="about" class="container-fluid">
	<div class="row about-row">
		<div id="about-me" class="col col-sm-5 col-sm-offset-1 about-cln">
			<h2>About Me</h2>
			<div class="small-line"></div>
			<p>
				Hi, my name is Felix Sun, I am currently a 2nd year computer engineering student at the University of Waterloo. I am also a self-taught full-stack web developer with 2 years of experience in front-end and 1 year experience in back-end Ruby on Rails development. Currently, I have two co-op work terms under my belt. Firstly, I was an Agile Test Engineer at Pivotal Labs, where I tested mobile and web applications. Next I worked at TD Securities as a Quality Assurance Analyst. There, I created test plans, mocked up data according to Business requirements, coded SQL, and executed tests on our risk reporting application and its database. If you would like to get in touch or see my projects, please visit my Contact pages or my GitHub.
			</p>

		</div>
		<div id="profile" class="col col-sm-5 col-sm-offset-1 about-cln" >
			<h2>Profile</h2>
			
			<div class="small-line"></div>

			<ul>
				<li class="profile-list">School</li>
				
				<li class="profile-list">University of Waterloo</li>
				<div class="small-line"></div>
				<li class="profile-list">Degree</li>
				
				<li class="profile-list">Computer Engineering</li>
				<div class="small-line"></div>
				<li class="profile-list">Co-op terms</li>
				
				<li class="profile-list">2</li>
				<div class="small-line"></div>
				<li class="profile-list">Email</li>
				
				<li class="profile-list">jr2sun@uwaterloo.ca</li>
			<!-- 	<div class="small-line"></div> -->

			</ul>
			
			

		</div>

	</div>
</div>

<div id="skills">
	<div class="container-fluid" >
		<div class="row">
			<div class="col col-sm-offset-1 col-sm-5 col-md-4 col-md-offset-2 skill-lbl">
				<h2>Skills</h2>
				<div class="small-line"></div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div id="web-skills" class="col col-sm-offset-1 col-sm-5 col-md-4 col-md-offset-2 skills-cln">
				<h3>Web Develpoer </h3>
				<div class="small-line"></div>
				<div class="row">
					
					<div class="col col-xs-6">
						<ul>
							<li>Ruby on Rails</li>
							<li>AngularJS</li>
							<li>MVC Methodology</li>
							<li>RESTful APIs</li>
							<li>HTML5</li>
							<li>CSS3</li>
							<li>Sass</li>
							
							
						</ul>
					</div>
					<div class="col col-xs-6">
						<ul>
							<li>JavaScript</li>
							<li>JQuery</li>
							<li>JSON</li>
							<li>Ajax</li>
							<li>Bootsrap</li>
							<li>PostgreSQL</li>
							<li>MySQL</li>
						</ul>

					</div>
				</div>
			</div>
			<div id="languages-skills" class="col col-sm-offset-1 col-sm-5 col-sm-offset-0 col-md-4 skills-cln">
				<h3>Languages & Technologies</h3>
				<div class="small-line"></div>
				<div class="row">
				
					<div class="col col-xs-6">
							<ul>
								<li>Java</li>
								<li>C#</li>
								<li>C++</li>
								<li>Android</li>
								<li>GIT</li>
								<li>SQL</li>
							</ul>
						</div>
						<div class="col col-xs-6">
							<ul>
								<li>JIRA</li>
								<li>Android Studio</li>
								<li>Mac/unix terminal</li>
								<li>Adobe Creative Suite</li>
								<li>MySQL Workbench</li>
								<li>Oracle SQL Developer</li>
							</ul>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>