<div id="contact-page">
	<div class="container-fluid" >
		<div class="row">
			<div class="col col-sm-offset-1 col-sm-11 col-md-10 col-md-offset-2 contact-col">
				<h2>Contact</h2>
				<div class="small-line"></div>
			</div>
		</div>
	</div>
	<div class="container-fluid" >
		<div class="row" >
			<div class="col col-sm-offset-1 col-sm-5 col-md-4 col-md-offset-2 contact-col">
				<%= mail_to "jr2sun@uwaterloo.ca" do %>
					<i class="fa fa-at "></i> jr2sun@uwaterloo.ca
				<% end %>
				<a href="https://github.com/felixsungit" target="_blank"><i class="fa fa-github-alt"></i> github.com/felixsungit</a>
			</div>
			<div class="col col-sm-5 col-md-4 contact-col">
				<a href="https://ca.linkedin.com/in/felixsunlink" target="_blank"><i class="fa fa-linkedin"></i> linkedin.com/in/felixsunlink</a>
				<%= link_to 'felix_resume_web.pdf', target: '_blank' do %>
				  <i class="fa fa-file-pdf-o"></i> .pdf Resume
				<% end %>
			</div>
		</div>
	</div>

</div>
<footer>
	<div class="container-fluid" >
		<div class="row">
			<div class="col col-sm-offset-1 col-sm-11 col-md-10 col-md-offset-2">
				<h2><i class="fa fa-copyright"></i> Felix Sun 2016</h2>
			</div>
		</div>
	</div>
</footer>