<div id="timeline">
	<div id="timeline-lbl" class="container-fluid">
		<div class="row">
			<div class="col col-sm-10 col-sm-offset-1 col-lg-offset-2">
				<div id="title-box">
					<span>
						<h2>Work & Education</h2>
					</span>
				</div>
				<div class="small-line"></div>
			</div>
		</div>
	</div>
	<ul>
		<li class="jobs row">
			<div class="job-title col col-sm-3 col-sm-offset-1 col-lg-3 col-lg-offset-2">
				<h3>Quality Assurance Analysis</h3>
				<h2>TD Securities</h2>

			</div><div class="job-description  col col-sm-7 col-sm-offset-0 col-lg-5 ">
				<p  class="job-time">September – December 2014 / 4 months</p>
				<ul>
					<li class="job-description-text">
						Performed system testing for market risk applications and databases
					</li>
					<li class="job-description-text">
						Created efficient SQL queries used for project demos and for verifying database implementation according to data models and business requirements
					</li>
					<li class="job-description-text">
						Worked with developers and business analysts to create comprehensive test plans along with business compliant mock data that mimics actual source system output
					</li>
					<li class="job-description-text">
						Created and presented informative documentations and PowerPoints
					</li>
			</div>
		</li>
		<li class="jobs row">
			<div class="job-title col col-sm-3 col-sm-offset-1 col-lg-3 col-lg-offset-2">
				<h3>Agile Test Engineering</h3>
				<h2>Pivotal Labs</h2>

			</div><div class="job-description col col-sm-7 col-sm-offset-0 col-sm-offset-0 col-lg-5">
				<p class="job-time">January - May 2014 / 4 months</p>
				<ul>
					<li class="job-description-text">
						Implemented test cases for mobile applications and websites running on Android, iOS, BlackBerry, Windows phone/surface and web browsers
					</li>
					<li class="job-description-text">
						Performed regression and exploratory/sanity testing. Thought outside the box to break apps and find bugs
					</li>
					<li class="job-description-text">
						Submitted clear and detailed bug reports using Pivotal Tracker and Google Docs
					</li>
					<li class="job-description-text">
						Discussed app behaviours, suggested user experience/interface improvements to developers and participated in daily and team stand-ups
					</li>
					<li class="job-description-text">
						Device manager – signed in/out requested devices. Became extremely familiar with most devices and their OS versions in order to spot them quickly when requested
					</li>
				</ul>
			</div>
		</li>
		<li class="jobs row">
			<div class="job-title col col-sm-3 col-sm-offset-1 col-lg-3 col-lg-offset-2">
				<h3>Engineering Student</h3>
				<h2>University of Waterloo</h2>

			</div><div class="job-description col col-sm-7 col-sm-offset-0 col-sm-offset-0 col-lg-5">
				<p class="job-time">September 2013 – Present / 2a Term</p>
				<ul>
					<li class="job-description-text">
						Candidate for Bachelor of Applied Science, Honours, Computer Engineering.
					</li>
					
				</ul>
			</div>
		</li>
	</ul>
</div>