$clouds: #ecf0f1;
$dark: #2E2633;
$dark-blue: #34495e;
$lighter-blue: #69D2E7;
$light-blue: #3498db;
$pink: #FE4365;
$orange: #e74c3c;
$orange-light: #CA594B;
$orange-pink: #DD7366;
$red: #CC333F;

@media screen and (min-width: 360px){
	
}
@media screen and (min-width: 400px){
	#name{
	  font-size: 5em;		
		padding: 10px 40px;
	}
	#intro-box{
	  h2{
			font-size: 2em;    
	  }
	}
}
@media screen and (min-width: 500px){
	
}
@media screen and (min-width: 768px){
	.col {
	  padding-left: 15px;
	  padding-right: 15px;
	}
	// .about-cln{
	//   padding-left: 15px;
	//   padding-right: 15px;
	// }
	#name{
	  font-size: 5.5em;		
		padding: 10px 45px;
	}
	.job-title{
	  // width: 35%;
	  // margin: 0 0 0 5%;
	  text-align: left;
	  h3{
	  	font-size: 1.05em;
	  }
	  h2{
	  	font-size: 1.4em;
	  }	  
	}
	.job-description{
		vertical-align: top;
	  // width: 52%;
	  // margin: 0 5% 0 3%;
	}
	.job-time{
		display: inline-block;
		text-align: left;
	}
	//timeline
	#timeline-lbl{
	  text-align: left;
	  h2{
	    font-family: 'Raleway', helvetica;
	    font-size: 2em;
	    margin: 0;
	    padding: 15px;
	    
	    display: inline-block;
	    color: $lighter-blue;
			border: 3px solid $lighter-blue;

	  }
	  .small-line{
	    display: none;
	  }

	}
	//about{
	.about-cln{
		height: 700px;
	}
	//skills
	.skills-cln{
  	h3{
  		text-align: left;
  	}
  }
  #web-skills {
	  text-align: left;
	  margin-bottom: 0;
	}
	#languages-skills{
	  text-align: left;
	}
	.skill-lbl{
  text-align: left;
  h2{
  	color: $orange;
    border: 3px solid $orange;
    padding: 15px;
    display: inline-block;
    margin: 0 0 80px 0;
  }
  .small-line{
  	display: none;
  }


}
	
}
@media screen and (min-width: 992px){
	#name{
	  font-size: 6em;		
		padding: 10px 45px;
	}
	.job-title{
	  // width: 30%;
	  // margin: 0 0 0 10%;
	  text-align: left;
	  vertical-align: top;
	  h3{
	  	font-size: 1.2em;
	  }
	  h2{
	  	font-size: 1.6em;
	  }
	  
	}
	.job-description{
	  // width: 47%;
	  // margin: 0 10% 0 3%;
	}
	.job-time{
	  font-size: 1.05em;
	}
	.job-description-text{
	  font-size: 1.1em;
	}
	//about{
	.about-cln{
		height: 590px;
	}
	
}

@media screen and (min-width: 1200px){
	.job-title{
	  // width: 28%;
	  // margin: 0 0 0 12%;
	}
	.job-description{
	  // width: 43%;
	  // margin: 0 12% 0 5%;
	}
	//about{
	.about-cln{
		height: 524px;
	}

}