$clouds: #ecf0f1;
$dark: #2E2633;
$dark-blue: #34495e;
$lighter-blue: #69D2E7;
$light-blue: #3498db;
$pink: #FE4365;
$orange: #e74c3c;
$orange-light: #CA594B;
$orange-pink: #DD7366;
$red: #CC333F;
$light-green: #2ecc71;
$green: #27ae60;

@media screen and (min-width: 360px){
	
}
@media screen and (min-width: 400px){
	#name{
	  font-size: 5em;		
		// padding: 10px 40px;
	}
	#intro-box{
	  h2{
			font-size: 2em;    
	  }
	}
	.contact-col{
		a{
			font-size: 1.4em;
		}
	}
	#contact-buttons-box{
  	margin-top: 50px;
  }
  .icon-Mouse:before {
	  font-size: 2.5em;
	}
	#down-arrow{
		left: calc(50% - 36px);
  	h3{
  		margin-bottom: 8px;
			font-size: 1.5em;
		}
	}
}
@media screen and (min-width: 500px){
	
}
@media screen and (min-width: 768px){
	#nav-cont{
		display: block;
	}
	#hamburger{
		display: none;
	}
	.col {
	  padding-left: 15px;
	  padding-right: 15px;
	}
	#name{
	  font-size: 5.5em;		
	}
	#contact-buttons-box{
  	margin-top: 60px;
  }
	.job-title{
	  text-align: left;
	  h3{
	  	font-size: 1.05em;
	  }
	  h2{
	  	font-size: 1.4em;
	  }	  
	}
	.job-description{
		vertical-align: top;
	}
	.job-time{
		display: inline-block;
		text-align: left;
	}
	
	//timeline
	#timeline-lbl{
	  text-align: left;
	  h2{
	    margin: 0;
	    padding: 15px;
	    
	    display: inline-block;
	    color: $lighter-blue;
			border: 3px solid $lighter-blue;

	  }
	  .small-line{
	    display: none;
	  }

	}
	//about{
	#about-me{
		text-align: left;
		padding-bottom: 80px;
		padding-right: 40px;
		height: 856px;
		h2{
			color: #2E2E2E;
	    border: 3px solid #2E2E2E;
	    padding: 15px;
	    display: inline-block;
	    margin: 0 0 50px 0;

		}
		.small-line{
			display: none;
		}
	}

	#profile{
		text-align: left;
		padding-left: 40px;
		// padding-bottom: 188px;
		height: 856px;
		h2{
			color: $lighter-blue;
	    border: 3px solid $lighter-blue;
	    padding: 15px;
	    display: inline-block;
	    margin: 0 0 50px 0;

		}
		.small-line-ttl{
			display: none;
		}
	}
	//skills
	.skills-cln{
  	h3{
  		text-align: left;
  	}
  }
  #web-skills {
	  text-align: left;
	  margin-bottom: 0;
	}
	#languages-skills{
	  text-align: left;
	}
	.skill-lbl{
	  text-align: left;
	  h2{
	  	color: $orange;
	    border: 3px solid $orange;
	    padding: 15px;
	    display: inline-block;
	    margin: 0 0 80px 0;
	  }
	  .small-line{
	  	display: none;
	  }
	  
	}
	//projects
	.projects-lbl{
	  text-align: left;
	  h2{
	  	color: $light-green;
	    border: 3px solid $light-green;
	    padding: 15px;
	    display: inline-block;
	    margin: 0 0 80px 0;
	  }
	  .small-line{
	  	display: none;
	  }
	  
	}
	.external-link{
		right: 15px;
  	top: 0;
	}
	.web-description{
  	height: 160px;
  }
	// .more-info{
	// 	height: 280px
	// }
	
	//contacts
	#contact-page{
		text-align: left;
	  h2{
	    margin: 0 0 60px 0;
	    padding: 15px;
	    
	    display: inline-block;
	    color: $orange;
			border: 3px solid $orange;

	  }
	  .small-line{
	    display: none;
	  }
	}
}
@media screen and (min-width: 992px){
	#name{
	  font-size: 6em;		

	}
	.job-title{

	  text-align: left;
	  vertical-align: top;
	  h3{
	  	font-size: 1.2em;
	  }
	  h2{
	  	font-size: 1.6em;
	  }
	  
	}
	.job-description{

	}
	.job-time{
	  font-size: 1.05em;
	}
	.job-description-text{
	  font-size: 1.1em;
	}
	//about{
	#about-me{
		padding-bottom: 80px;
		padding-right: 60px;
		height: 732px;
	}
	#profile{
		// padding-bottom: 182px;
		padding-right: 60px;
		height: 732px;
	}
	//projects
	.web-description{
  	height: 140px;
  }
	.more-info{
		min-height: 160px;
	}
}

@media screen and (min-width: 1200px){
	.job-title{
	}
	.job-description{

	}
	//about{
	#profile{
		padding-bottom: 80px;
		padding-left: 80px;
	}
	#about-me{
		padding-bottom: 80px;
		padding-right: 80px;
	}


}
@media screen and (min-width: 1500px){
	#profile{
		height: 632px
	}
	#about-me{
		height: 632px
	}
}
